body {
    display: block;
    margin: 0px;
}

p {
    font-size: 20px;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-bottom: 20px black;
}

h4 {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-left: 100px;
    bottom: 0px;
    border-top: 20px double black;
}

.blogPage {
    overflow: scroll;
    padding-left: 20px;
 }


.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

