
body {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

main {
  display: flex;
  border-bottom: 20px black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 20px;
}

li {
  margin-top: auto;
  margin-bottom: 90px;
  display: block;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
  border-bottom-style: solid;
}

main {
  display: flex;
  border-bottom: 20px black;
}


.button-submit {
  border-radius: 5px;
  width: 50%;
  align-self: center;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color:white;
}
